.missions-container{
    margin: 30px;
}

.table{
  width: 100%;
  border-collapse: collapse;
}

.table th {
  white-space: nowrap;
  text-align: left;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-bottom: 1px;
}

.table td {
  text-align: left;
  padding: 10px;
  border: 1px solid #dee2e6;
  padding-bottom: 20px;
}

.bold-text{
  font-weight: bold;
}

.thin-text{
  font-size: 14px;
}

.status-button{
  border-radius: 5px;
  padding: 3px;
  background-color: gray;
  border: 1px solid gray;
  color: #fff;
  white-space: nowrap;
}

.actions-button{
  border-radius: 3px;
  padding: 7px;
  background-color: #fff;
  white-space: nowrap; 
}

.active-member{
  background-color: dodgerblue;
  border-color: dodgerblue;
  color: #fff;
}

.leave-btn{
  color: red;
  border-color: red;
}

.join-btn{
  padding: 8px;
}