* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px 15px 10px;
}

.navs {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-links {
  margin-right: 20px;
  text-decoration: none;
  color: rgb(7, 131, 255);
}

hr{
  margin-left: 5px;
  margin-right: 5px;
}

